<p id="notice"><%= notice %></p>

<p>
  <strong>Here is where you want to go:</strong>
  <%= @place.where_to_go %>
</p>

<p>
  <strong>And When:</strong>
  <%= @place.when_to_go %>
</p>

<p>
		


<%= link_to 'Edit', edit_place_path(@place) %> |
<%= link_to 'Back', places_path %>
